@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-dark: #151a31;
    --primary-color-light: #314cb8;
    --secondary-color-dark: #329b40;
    --secondary-color-light: #42cc55;
    --background-color: #f0f0f0;
    --text-color-dark: #ffffff;
    --text-color-light: #000000;

    --primary-font: 'Bebas Neue', 'Open Sans', sans-serif;
    --secondary-font: 'Roboto', 'Montserrat', sans-serif;
}

@media all {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        font-family: var(--secondary-font);
        background-color: var(--primary-color-dark);
        color: var(--text-color-light);
    }

    header {
        font-family: var(--primary-font);
        background-color: var(--primary-color-light);
        color: var(--text-color-dark);
        padding: 20px;
        text-align: center;
    }

    div {
        margin: 5px;
        padding: 10px;
    }

    nav {
        padding: 20px;
        text-align: center;
    }
    
    nav ul, a {
        list-style-type: none;
        text-decoration: none;
        color: var(--text-color-light);
        font-weight: bold;
    }

    nav li {
        margin: 20px;
        padding: 30px;
        border-radius: 15px;
        background-color: var(--secondary-color-dark);
    }

    li:hover {
        background-color: var(--secondary-color-light);
        border: 1px solid var(--background-color);
        color: var(--text-color-dark);
        scale: 1.05;
        transition: all 0.5s ease-in-out;
    }

    a:focus li, a:active li {
        background-color: var(--secondary-color-light);
        border: 1px solid var(--background-color);
        box-shadow: 0px 0px 10px var(--background-color);
        color: var(--text-color-dark);
        scale: 1.05;
    }

    iframe {
        width: 100%;
        height: 600px;
        aspect-ratio: 16 / 9;
    }

}

@media screen and (orientation: portrait) {
    div {
        display: flex;
        flex-direction: column-reverse;
    }

    nav li {
        margin: 10px;
        padding: 15px;
    }

    iframe {
        aspect-ratio: 9 / 16;
    }
}

@media screen and (orientation: landscape) {
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 88vh;
    }
}